/*.section,
.section * {
  box-sizing: border-box;
  width: 100%;
}*/




.sectio {
  
  width: 100%;
  min-width: 543px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 64px 80px 0px 80px;
  
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}


.section {
  
  width: 100%;
  min-width: 543px;
  max-width: 1440px;
  margin: 0 auto;
  
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}

.section-1 {
  background: #f2f2f2;
  padding: 64px 80px 0px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  /* min-height: 300px; */
}

@media (max-width: 935px) {

  .section-1 {
    padding-top: 124px; /* Reduce padding for smaller screens */
  }
}

@media (max-width: 1100px) {

  .nav-bar {
    gap: 28px;
  }
}

@media (max-width: 920px) {

  .header {
    padding-right: 50px;
  }
}

@media (max-width: 830px) {
  .nav-bar-link {
    font-size: 20px;
  }
  .nav-bar {
    gap: 24px;
  }
}

@media (max-width: 760px) {
  .nav-bar-link {
    font-size: 24px;
  }
  .nav-bar {
    gap: 28px;
  }

  .header-container {
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start; 
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .section-project{
    padding-top: 40px;
  }
}


.container {
  /*min-width: 543px;*/
  min-width: 320px;
  max-width: 1440px;
  padding: 4px 20px 4px 20px;
  display: flex;
  flex-direction: row;
  gap: 80px;
  row-gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  align-self: stretch;
  flex-shrink: 0;
  place-content: center;
}
.section-1-left {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  min-width: 330px;
}

.section-1-right {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 450px;
  height: 450px;
  min-width: 300px;
  min-height: 300px;
  align-self: stretch;
  aspect-ratio: 1;
}
.holder {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: left;
  justify-content: left;
  align-self: stretch;
  flex-shrink: 0;
}

.description-1{
  color: #000000;
  text-align: left;
  font-family: "Outfit-Medium", sans-serif;
  font-size:  24px;
  font-weight: 500;
  align-self: stretch;
  font-weight: bold;
}
.computer-scientist {
  align-self: stretch;
  flex-shrink: 0;
  height: 45.73px;
  text-align: left;
  max-width: 700px;
  aspect-ratio: 670/45.73;
  flex: 1;
}
.description-2 {
  color: #000000;
  text-align: left;
  font-family: "Outfit-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-weight: bold;
  align-self: stretch;
}
.user-pics {
  align-self: stretch;
  flex-shrink: 0;
  height: 461.81px;
  min-width: 290px;
  min-height: 326.65px;
  object-fit: cover;
  aspect-ratio: 410/461.81;
}




.frame-holder {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.heading-text {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.skill-s {
  color: #000000;
  text-align: left;
  font-family: "Outfit-Bold", sans-serif;
  font-size: 35px;
  font-weight: 700;
  position: relative;
  flex: 1;
  height: 44px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.work-holder {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-2 {
  background: #ffffff;
  border-radius: 15px;
  padding: 10px 20px 10px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  transition: padding 0.13s, box-shadow 0.13s;
}

@media (max-width: 620px) {
  #myElement{
    font-size: 24px; padding: 10px 10px 10px 10px;
  }
}
.frame-2:hover{
    padding: 12px 25px 12px 15px;
    box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.6);
}

.icons{
  width: 30px;
  height: 30px;
}
.details-icon-txt {
  color: #000000;
  text-align: left;
  font-family: "Outfit-Medium", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.flex-direction {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
}



.about-text
{
  color: #414141;
  text-align: left;
  font-family: "Outfit-Bold", sans-serif;

  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: 2;
  width: 100%;
  padding-bottom: 200px;
}

.about-text-container{
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border-bottom: 2px solid black;
  align-self: stretch;
  margin-bottom: 20px;
}

.about-text h1 {
  text-align: right;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0;
  color: #8c143a;
  text-align: left;
  position: relative;
}

@media (max-width: 630px) {
  .about-text h1 {
    font-size: 2rem;
  }
}

.about-text .center-text {
  text-align: right;
  font-size: 1rem;
  font-weight: 500;
  color: #420317;
  text-align: left;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 20px;
}

.about-text .highlight {
  color: #310020;
  font-weight: bold;
}

.about-text .btn-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 20px;
  width: 100%;
}

.about-text .btn {
  padding: 12px 24px;
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  background: #dddddd;
  color: #000000;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.about-text .btn:hover {
  background: #353535;
  color:rgb(0, 109, 226);
}

.project-images{
  width: 100%;
  height: 100%;
}